<%= form_for @content, html: { multipart: true } do |f| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="field">
    <%= f.label :titolo %>
    <%= f.text_field :titolo %>
  </div>
<br>
  <div class="field">
    <%= f.label :descrizione %>
    <%= f.text_area :descrizione %>
  </div>
<br>
  <div class="field">
    <%= f.label :cover %>
    <%= f.file_field :cover %>
  </div>
  <br>
  <div class="col s12 center">
    <div class="actions">
      <%= f.submit "Carica", class: "waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>
